@import "../../assets/variables.module.scss";
@import "../../assets/mixins.module.scss";

.Task {
  @include flex-container(row, center, center, 20px);
  border-radius: 26px;
  width: 350px;
  border: none;
  color: white;

  .deleteBtnWrapper {
    width: 15px;
    height: 15px;
    padding-left: 15px;

    .deleteBtn {
      border-radius: 100%;
      border: 2px solid red;
      background-color: white;
      width: 1.5rem;
      height: 1.5rem;

      .closeIcon {
        margin: 3px 1px 0 1px;
        font-size: 16px;
        color: red;
        transition: transform 0.3s;

        &:hover {
          transform: rotate(180deg);
        }
      }
    }
  }

  .title_streak {
    padding: 15px;
  }

  .streak {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
    background-color: grey;
  }

  .streak.active {
    background-color: $secondary-color;
  }
  .completeBtn {
    padding: 15px;
  }
  .button {
    border-radius: 100%;
    border: none;
    width: 25px;
    height: 25px;
    transform: all, 0.35s;

    &:hover {
      transform: scale(1.1);
    }
  }
}
.button.complete {
  display: none;
}

.button.habitsButton:active {
  transform: scale(1.3);
}

.habits {
  background-color: $habits-color;
}

.dailies {
  background-color: $dailies-color;
}

.todos {
  background-color: $todos-color;
}

.completedTask {
  opacity: 0.5;
}
