@import "../../assets/variables.scss";

.Task {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 50px;
  width: 350px;
  border: none;

  .deleteBtnWrapper {
    width: 15px;
    height: 15px;
    padding-left: 15px;
  }

  .title_streak {
    padding: 15px;
  }
  .streak {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
    background-color: grey;
  }

  .streak.active {
    background-color: $secondary-color;
  }
  .completeBtn {
    padding: 15px;
  }
  .button {
    border-radius: 100%;
    border: none;
    width: 25px;
    height: 25px;
    transform: all, 0.35s;
  }
}
.button.completed {
  background-color: $secondary-color;
}

.habits {
  background-color: $habits-color;
}

.dailies {
  background-color: $dailies-color;
}

.todos {
  background-color: $todos-color;
}
