@import "../../assets/variables.module.scss";
@import "../../assets/mixins.module.scss";

.Task {
  @include flex-container(row, center, space-between, 20px, nowrap);
  border-radius: 26px;
  width: 350px;
  border: none;
  color: white;
  animation: animate-in-and-out 0.2s linear;
  overflow-x: hidden;

  @keyframes animate-in-and-out {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .deleteBtnWrapper {
    width: 15px;
    padding: 15px;

    .deleteBtn {
      border-radius: 100%;
      border: 2px solid red;
      background-color: white;
      width: 1.5rem;
      height: 1.5rem;

      .closeIcon {
        margin: 3px 1px 0 1px;
        font-size: 16px;
        color: red;
        transition: transform 0.3s;

        &:hover {
          transform: rotate(180deg);
        }
      }
    }
  }

  .title_streak {
    padding: 15px 8px;
    width: 100%;
    // display: flex;
    // flex-direction: column;
    // align-items: center;

    .smaller {
      font-size: 12px;
    }

    p {
      width: 100%;
      margin-bottom: 5px;
      word-break: break-word;
    }
  }

  .streak {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
    background-color: grey;
    padding-top: 10px;
  }

  .streak.active {
    background-color: $secondary-color;
  }

  .completeBtn {
    padding: 15px;

    .button {
      border-radius: 100%;
      border: none;
      width: 1.5rem;
      height: 1.5rem;
      transition: all 0.35s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
.button.complete {
  display: none;
}

.button.habitsButton:active {
  transform: scale(1.3);
}

.habits {
  background-color: $habits-color;
}

.dailies {
  background-color: $dailies-color;
}

.todos {
  background-color: $todos-color;
}

.completedTask {
  opacity: 0.5;
}
