@import "../../assets/variables.module.scss";

.modal {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;

  .modalContent {
    width: 95%;
    max-height: 90vh;
    height: auto;
    background-color: $primary-color;
    border-radius: 40px;
    border: 10px solid $bg-color;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;

    .mainInfo {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .modalTitle {
        margin: 10px;
        color: white;
        font-weight: 700;
      }

      .closeBtn {
        border-radius: 100%;
        border: 2px solid red;
        background-color: white;
        width: 1.8rem;
        height: 1.8rem;
        display: flex;
        align-items: center;
        justify-content: center;

        .closeIcon {
          font-size: 18px;
          color: red;
          transition: transform 0.3s;

          &:hover {
            transform: rotate(180deg);
          }
        }
      }
    }

    .shop {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 20px;
      align-items: center;
      margin: 10px;

      .plant {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: auto;
        padding: 10px;
        border: 3px solid white;
        background-color: $primary-color;
        border-radius: 16px;

        .name {
          margin: 0;
        }

        .plantInfo {
          display: flex;
        }

        .resources {
          display: flex;
          flex-direction: column;
        }

        // .addBtn {
        //   position: absolute;
        //   border-radius: 100%;
        //   border: 2px solid $primary-color;
        //   background-color: white;
        //   width: 1.5rem;
        //   height: 1.5rem;
        //   bottom: 8%;
        //   transition: transform 0.3s;

        //   .addIcon {
        //     margin: 3px 1px 0 1px;
        //     font-size: 16px;
        //     color: $primary-color;
        //   }

        //   &:hover {
        //     transform: scale(1.1);
        //   }
        // }
      }

      .plant img {
        margin-bottom: 10px;
        width: 50px;
        height: auto;
      }

      .plant p {
        margin-top: 5px;
        color: white;
      }
    }
  }
}
