.gardenContainer {
  //   background: linear-gradient(#75c231, #375c17);
  // padding: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
  // border: 2px solid red;
  height: 100vh;
  width: 100%;
  background-image: url("/sprites/pratino.png");
  background-repeat: repeat;
}

.plotsContainer {
  // background: linear-gradient(#75c231, #375c17);
  display: grid;
  // grid-template-columns: repeat(5, 20px);
  // grid-template-rows: repeat(7, 20px);
  gap: 10px;
  padding: 20px;
  // background-image: url("/sprites/pratino.png");
  // background-repeat: repeat;
  // width: calc(100px * 5 + 10px * 4);
  // height: calc(100px * 7 + 10px * 6);
  // height: 100%;
  // width: 100%;
  // margin-top: 180px;
  // margin-left: 15%;
}

.occupied-plot {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .plotsContainer {
    grid-template-columns: repeat(7, 80px);
    grid-template-rows: repeat(5, 80px);
    margin-top: 150px;
  }
}

@media (max-width: 768px) {
  .gardenContainer {
  }
  .plotsContainer {
    grid-template-columns: repeat(5, 50px);
    grid-template-rows: repeat(7, 50px);
    margin-top: 150px;
    // width: 80%;
    // height: 100%;
  }
}
