.garden {
  padding: 20px;
}

.plotsContainer {
  display: grid;
  grid-template-columns: repeat(5, 100px);
  grid-template-rows: repeat(7, 100px);
  gap: 10px;
}

.plot {
  width: 100px;
  height: 100px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.empty-plot {
  font-size: 18px;
  color: #ccc;
}

.occupied-plot {
  display: flex;
  align-items: center;
  justify-content: center;
}

.plant-icon {
  font-size: 24px; /* Imposta la dimensione dell'icona della pianta */
}
