// .garden {
//   padding: 20px;
// }

.plotsContainer {
  background: linear-gradient(#75c231, #375c17);
  display: grid;
  grid-template-columns: repeat(5, 100px);
  grid-template-rows: repeat(7, 100px);
  gap: 10px;
  width: calc(100px * 5 + 10px * 4);
  height: calc(100px * 7 + 10px * 6);
  margin: 10px;
}

.plot {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.occupied-plot {
  display: flex;
  align-items: center;
  justify-content: center;
}
