@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  min-height: 100vh;
  width: 100%;
  /* max-width: 1080px; */
  margin: 0 auto;
  position: relative;
  scrollbar-gutter: stable;
}

ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 34px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 26px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 22px;
}

p {
  font-size: 16px;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #d2d2d2;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background: #eb770f;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background: #d2d2d2;
}
