@import "../assets/variables.module.scss";
@import "../assets/mixins.module.scss";

.login_wrapper {
  @include flex-container(column, center, center, 1rem);

  .logo {
    margin-top: 30px;
  }

  .title {
    text-align: center;
    font-weight: 200;

    .highlight {
      font-weight: 700;
      color: $primary-color;
    }
  }

  .form_wrapper {
    display: flex;
    flex-direction: column;

    .text {
      font-weight: 600;
      text-align: left;
      color: $primary-color;
      font-size: 16px;
      margin-bottom: 5px;
    }

    .input {
      @include form-input;
    }
    input:nth-child(2) {
      margin-bottom: 10px;
    }

    .input:focus {
      outline: solid $secondary-color;
    }
    .input::placeholder {
      color: $placeholder-color;
    }
  }

  .redirect {
    text-align: right;
    color: grey;
    font-size: 16px;
  }

  .button_login {
    @include main-btn;
    &:hover {
      background-color: $secondary-color;
      border: 2px solid $secondary-color;
    }
  }

  .button_signup {
    @include outline-btn;
    &:hover {
      background-color: white;
      color: $secondary-color;
      border: 2px solid $secondary-color;
    }
  }
}

.redirect1 {
  display: block;
  text-align: center;
  font-size: 16px;
  color: grey;
}

/* per i dispositivi desktop */
@media only screen and (min-width: 769px) {
}
