@import "../assets/variables.module.scss";
@import "../assets/mixins.module.scss";

.login_wrapper {
  @include flex-container(column, center, center, 1rem);

  .logo {
    margin: 50px;
  }

  .title {
    text-align: center;

    .highlight {
      color: $highlight-color;
    }
  }

  .text {
    font-weight: 600;

    text-align: left;
    color: $primary-color;
    font-size: 16px;
  }

  .input {
    @include form-input;
  }

  .input:focus {
    outline: solid $highlight-color;
  }

  .button_login {
    @include main-btn;
    &:hover {
      background-color: $highlight-color;
      border: 4px solid #85e27c;
    }
  }

  .button_signup {
    @include outline-btn;
    &:hover {
      background-color: $highlight-color;
      color: white;
      border: 4px solid #85e27c;
    }
  }
}

.redirect {
  text-align: right;
  color: grey;
  font-size: 16px;
}

.redirect1 {
  display: block;

  text-align: center;
  font-size: 16px;
  color: grey;
}

/* per i dispositivi desktop */
@media only screen and (min-width: 769px) {
}
