@import "../assets/variables.module.scss";
@import "../assets/mixins.module.scss";

.signup_wrapper {
  @include flex-container(column, center, center, 1rem);

  .title {
    text-align: center;

    .highlight {
      color: $highlight-color;
    }
  }

  .text {
    font-weight: 600;

    text-align: left;
    color: $primary-color;
  }

  .input {
    @include form-input;
  }

  .input:focus {
    outline: solid $highlight-color;
  }
  label,
  input {
    display: block;
  }

  .button_login {
    @include outline-btn;
  }

  .button_signup {
    @include main-btn;
  }
}

.redirect {
  font-size: 16px;
  color: grey;
}

.logo {
  margin: 50px;
}

/* per i dispositivi desktop */
@media only screen and (min-width: 769px) {
}
