@import "../assets/variables.module.scss";
@import "../assets/mixins.module.scss";

.signup_wrapper {
  @include flex-container(column, center, space-between, 0, nowrap);
  height: 100vh;

  .title {
    text-align: center;

    .highlight {
      color: $primary-color;
    }
  }

  .text {
    font-weight: 600;
    text-align: left;
    color: $primary-color;
    margin-bottom: 5px;
  }

  .input {
    @include form-input;
    color: black;
  }

  div:nth-child(3) .input {
    margin-bottom: 10px;
  }

  .input:focus {
    outline: solid $secondary-color;
  }
  .input::placeholder {
    color: $placeholder-color;
  }

  label,
  input {
    display: block;
  }

  .button_login {
    @include outline-btn;
    &:hover {
      background-color: white;
      color: $secondary-color;
      border: 2px solid $secondary-color;
    }
  }

  .button_signup {
    @include main-btn;
    &:hover {
      background-color: $secondary-color;
      border: 2px solid $secondary-color;
    }
  }
}

.redirect {
  display: block;
  text-align: center;
  font-size: 16px;
  color: grey;
}

.logo {
  margin-top: 30px;
}

/* per i dispositivi desktop */
@media only screen and (min-width: 769px) {
}
