@import "../assets/variables.module.scss";
@import "../assets/mixins.module.scss";

.userpage_wrapper {
    @include flex-container(row);
    @include wrapper;
  
    label, input {
        display: block;
    }

    input {
        @include form-input;
        font-family: $mainFont;
    }

    .btn_save, .btn_del {
        @include main-btn;
        cursor: pointer;
        margin-top: 6px;
    }

    .btn_edit {
        @include outline-btn;
        cursor: pointer;
        margin-bottom: 0;
    }
}