.plot {
  width: 100px;
  height: 100px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative; /* Per posizionare l'icona all'interno del plot */
}

.plant-icon {
  position: absolute; /* Posiziona l'icona all'interno del plot */
  top: 50%; /* Posiziona verticalmente al centro */
  left: 50%; /* Posiziona orizzontalmente al centro */
  transform: translate(-50%, -50%); /* Centra l'icona */
}
