@import "../../assets/variables.module.scss";
@import "../../assets/mixins.module.scss";

.header_wrapper {
  @include flex-container(row, center, center, 2rem);
  position: fixed;
  top: 0;
  background-color: $bg-color;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  width: 100%;
  height: auto;
  max-height: 120px;
  padding: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); /* Ombra */

  .image {
    border-radius: 50%; /* Imposta il border-radius al 50% per fare un cerchio */
  }

  .name {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .resources_wrapper {
    @include flex-container(row, center, center, 1rem);
  }
}

/* per i dispositivi desktop */
@media screen and (min-width: 1200px) {
  .header_wrapper {
    max-width: 1200px;
    left: calc(50% - 600px);
  }
}
