@import "../../assets/variables.scss";

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 60px;
  width: 100%;
  background-color: $primary-color;
  z-index: 2;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;

  .packIcons {
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    list-style-type: none;

    li {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .active {
      color: $secondary-color;
      width: 1.8rem;
      height: 1.8rem;
    }

    .icon {
      color: white;
      width: 1.8rem;
      height: 1.8rem;

      &:hover {
        color: $secondary-color;
        transition: color 0.35s;
      }
    }
  }

  .addBtn {
    position: absolute;
    padding: 1rem;
    border-radius: 100%;
    border: solid 5px white;
    background-color: $secondary-color;
    color: white;
    width: 80px;
    height: 80px;
    bottom: 20px;
  }

  .btnIcon {
    font-size: 40px;
  }
}
