@mixin flex-container(
  $direction: column,
  $align: center,
  $justify: center,
  $gap: 1rem
) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
  gap: $gap;
}

@mixin wrapper($width: 100%, $height: 100vh) {
  width: $width;
  height: $height;
}

@mixin reset($margin: 0 auto, $padding: 0) {
  margin: $margin;
  padding: $padding;
}

@mixin main-btn {
  font-size: 16px;
  width: 250px;
  background-color: #5a8433;
  color: #fff;
  border: 4px solid #5a8433;
  border-radius: 26px;
  margin: 20px 0;
  padding: 10px;
}

@mixin outline-btn {
  font-size: 16px;
  width: 250px;
  background-color: #fff;
  color: #5a8433;
  border: 4px solid #5a8433;
  border-radius: 26px;
  margin: 10px 0 20px;
  padding: 10px;
}
@mixin form-input {
  font-size: 16px;
  width: 250px;
  background-color: #fff;
  color: #464646;
  border-radius: 20px;
  outline-style: solid;
  outline-color: #5a8433;
  margin: 10px 0 20px;
  padding: 10px;
  border: none;
}
