$mainFont: "Poppins", sans-serif;
// font-family: "Raleway", sans-serif;
//"Nunito", sans-serif;

$primary-color: #598334;
$secondary-color: #eb770f;

$dark-color: #303030;
$light-color: #f2f2f2;

$bg-color: white;

$habits-color: #66a9ef;
$dailies-color: #a55107;
$todos-color: #cea410;

$placeholder-color: #cccaca;
