$mainFont: "Poppins", sans-serif;
// font-family: "Raleway", sans-serif;
//"Nunito", sans-serif;
$titleFont: "Catamaran", sans-serif;

$primary-color: #598334;
$secondary-color: #eb770f;

$dark-color: #303030;
$light-color: #f2f2f2;

$bg-color: white;

$habits-color: #43b6fb;
$dailies-color: #9b0d3c;
$todos-color: #dba70a;

$placeholder-color: #cccaca;
