@import "../../assets/variables.module.scss";
@import "../../assets/mixins.module.scss";

.TaskList {
  @include flex-container(column, center, center, 20px);
}

@media screen and (min-width: 1080px) {
  .TaskList {
    flex-wrap: wrap;
    max-width: 1080px;
    left: calc(50% - 600px);
  }
}
