@import "../../assets/variables.module.scss";
@import "../../assets/mixins.module.scss";

.titleWrapper {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: fixed;
  left: 0;
  right: 0;
  background-color: white;
  height: 150px;
  top: 20px;
  z-index: 1;
}

.TaskList {
  @include flex-container(column, center, center, 20px);
  margin-top: 60px;
  overflow-x: hidden;
}

.noTask {
  @include flex-container(column, center, center, 45px);
  margin-top: 60px;

  .leaves {
    height: auto;
    width: 320px;
  }
  h5 {
    text-align: center;
  }
}

@media screen and (min-width: 1080px) {
  .TaskList {
    flex-wrap: wrap;
    max-width: 1080px;
    left: calc(50% - 600px);
  }
}
